{% extends 'restaurant/base.html' %}

{% block title %}
История
{% endblock %}

{% block content %}
<div class="default-background">
    <div class="container py-5 mt-5">
        <div class="bg-white rounded-4 shadow-lg p-5" style="opacity: 0.97;">
            <div class="text-center mb-5">
              <h1 class="display-6">History Saphir Restaurant</h1>
            </div>
          <h3>Начало пути</h3>
          <p>
              Ресторан "Saphir" — это уютное уголок Франции в сердце Москвы, созданный с любовью к изысканной французской кухне и богатым традициям.
              Основанный в 1998 году, он быстро стал любимым местом для ценителей гастрономического искусства, ищущих аутентичные вкусы и атмосферу французского шика.
              Расположенный на знаменитой улице Тверская, дом 15, "Saphir" с первых дней своей работы привлекал гостей
              теплом гостеприимства и изысканностью интерьера, выполненного в классическом французском стиле с нотками современности.
              Здесь каждая деталь — от мягкого освещения до изящных посуды — создает ощущение путешествия во Францию без выезда из Москвы.
          </p>
          <div class="text-center my-5">
            <img width="50%" height="1%" src="/static/content/image/open.jpg">
          </div>
          <h3>Restaurant success</h3>
          <p>
             За более чем два десятилетия "Saphir" завоевал признание как один из лучших французских ресторанов Москвы.
              В 2005 году он получил престижную награду «Лучший французский ресторан года» по версии гастрономического гида «Мишлен».
              В 2010 году "Saphir" был выбран официальным партнером французского культурного центра в Москве для проведения гастрономических фестивалей и мастер-классов шеф-поваров из Франции.
              Это укрепило его репутацию как настоящего хранителя французских кулинарных традиций.
              В 2015 году ресторан открыл свою собственную винную карту с эксклюзивными французскими винами, что стало еще одним подтверждением высокого уровня сервиса и качества.
          </p>

          <h3>Today</h3>
          <p>
              Сегодня "Saphir" продолжает радовать своих гостей не только классическими блюдами французской кухни, но и активно развивается в условиях современного мира.
              В эпоху цифровых технологий ресторан успешно интегрировал онлайн-бронирование, доставку блюд и виртуальные мастер-классы от шеф-поваров — всё для того, чтобы оставаться актуальным и доступным для новых поколений ценителей.
              Современный "Saphir" — это место гармоничного сочетания традиций и инноваций: уютная атмосфера с элементами современного дизайна, внимательное обслуживание и использование современных технологий для улучшения клиентского опыта.
              Он остается символом утонченности и вкуса, объединяя московских гурманов с французским шармом и стилем даже в условиях быстро меняющегося мира.
              За более чем два десятилетия он стал частью культурной жизни города, сохраняя свою миссию — дарить гостям настоящее французское наслаждение в каждом блюде и каждом мгновении.
          </p>
        </div>
    </div>
</div>
{% endblock %}